@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body class="animsition">

    <!-- Header -->
    @await Component.InvokeAsync("_DefaultHeaderComponentPartial")

    <!-- Cart -->
    @await Component.InvokeAsync("_DefaultCartComponentPartial")

    <!-- Slider -->
    @await Component.InvokeAsync("_DefaultSliderComponentPartial")

    <!-- Banner -->
    @await Component.InvokeAsync("_DefaultBannerComponentPartial")

    <!-- Product -->
    @await Component.InvokeAsync("_DefaultProductComponentPartial")

    <!-- Feature -->
    @await Component.InvokeAsync("_DefaultFeatureComponentPartial")

    <!-- Blog -->
    @await Component.InvokeAsync("_DefaultBlogComponentPartial")

    <!-- About -->
    @await Component.InvokeAsync("_DefaultAboutComponentPartial")

    <!-- Contact -->
    @await Component.InvokeAsync("_DefaultContactComponentPartial")

    <!-- Footer -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    <!-- Back to top -->
    @await Component.InvokeAsync("_DefaultBacktotopComponentPartial")

    <!-- Modal1 -->
    @await Component.InvokeAsync("_DefaultModalComponentPartial")

    <!-- Script -->
    @await Component.InvokeAsync("_DefaultScriptComponentPartial")

</body>
</html>