@model ShoppingNightMongo.Dtos.CustomerDtos.CreateCustomerDto
@{
    ViewData["Title"] = "CreateCustomer";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form method="post">
        <label>Müşteri Adı</label>
        <input type="text" asp-for="CustomerName" class="form-control" />
        <br />
        <label>Müşteri Soyadı</label>
        <input type="text" asp-for="CustomerSurname" class="form-control" />
        <br />
        <button class="btn btn-info">Müşteri Ekle</button>
    </form>
</div>
