<nav id="sidebar" class="">
    <div class="sidebar-header">
        <a href="index.html"><img class="main-logo" src="/nalika-master/nalika/img/logo/YıldızS-renkli-large .svg" alt="" /></a>
        <strong><img src="/nalika-master/nalika/img/logo/logosn.png" alt="" /></strong>
    </div>

    <div class="left-custom-menu-adp-wrap comment-scrollbar">
        <nav class="sidebar-nav left-sidebar-menu-pro">
            <ul class="metismenu" id="menu1">

                <li>
                    <a class="has-arrow" href="/Default/Index/">
                        <i class="icon nalika-home icon-wrap"></i>
                        <span class="mini-click-non">Siteye Git</span>
                    </a>
                </li>

                <li>
                    <a class="has-arrow" href="/Products/ProductList">
                        <i class="icon nalika-product icon-wrap"></i>
                        <span class="mini-click-non">Ürünler</span>
                    </a>
                </li>

                <li>
                    <a class="has-arrow" href="/Categories/CategoryList">
                        <i class="icon nalika-category icon-wrap"></i>
                        <span class="mini-click-non">Kategori</span>
                    </a>
                </li>

                <li>
                    <a class="has-arrow" href="/Customers/CustomerList">
                        <i class="icon nalika-category icon-wrap"></i>
                        <span class="mini-click-non">Müşteri</span>
                    </a>
                </li>

                <li>
                    <a class="has-arrow" href="/Sliders/SliderList">
                        <i class="icon nalika-category icon-wrap"></i>
                        <span class="mini-click-non">Slayt</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</nav>