@model ShoppingNightMongo.Dtos.SliderDtos.CreateSliderDto
@{
    ViewData["Title"] = "CreateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form method="post">
        <label>Slayt Başlık</label>
        <input type="text" asp-for="SliderTitle" class="form-control" />
        <br />
        <label>Slayt Alt Başlık</label>
        <input type="text" asp-for="SliderSubTitle" class="form-control" />
        <br />
        <label>Slayt Görsel Url</label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <br />
        <button class="btn btn-info">Slayt Ekle</button>
    </form>
</div>
